{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du plateau technique de l’hôpital Sébastopol{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo_chu.png') }}" alt="CHU Sébastopol" width="100" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Notre centre dentaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Informations pratiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nous rejoindre</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <button class="btn btn-outline-primary btn-lg me-2" type="button" id="connexion-button">Connexion</button>
                </span>
            </div>
        </div>
    </nav>


{% endblock %}
