{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du plateau technique de l’hôpital Sébastopol{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <!-- Conteneur avec overflow: hidden pour le zoom -->
    <div class="position-relative image-container">
        <img src="{{ asset('img/image-index.png') }}" alt="CHU Sébastopol" class="zoom-image">

        <!-- Texte centré sur l'image -->
        <div class="position-absolute top-45 start-50 translate-middle text-white text-center">
            <h1 class="fw-bold">Bienvenue sur le site du plateau technique de l'hôpital Sébastopol</h1>
        </div>

        <!-- Informations superposées en bas -->
        <div class="position-absolute bottom-0 w-100">
            <div class="row g-0">
                <!-- Adresse -->
                <div class="col-12 col-md-3">
                    <div class="card bg-light text-center p-3 h-100 border-0 d-flex align-items-center justify-content-center" style="border-radius: 0;">
                        <h5 class="card-title mb-2">Adresse</h5>
                        <a href="https://www.google.com/maps/place/CHU+de+Reims+-+H%C3%B4pital+S%C3%A9bastopol/@49.2645089,4.0464497,17z/data=!3m1!4b1!4m6!3m5!1s0x47e975b86b85aab3:0xdda0886abe3e44fc!8m2!3d49.2645054!4d4.0490246!16s%2Fg%2F1vfn5_0k?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D"
                           target="_blank"
                           class="text-decoration-none text-primary d-flex align-items-center justify-content-center">
                            <p class="mb-0 me-2">48 Rue de Sébastopol, 51092 Reims</p>
                            <span class="material-symbols-outlined">open_in_new</span>
                        </a>
                    </div>
                </div>
                <!-- Téléphone -->
                <div class="col-12 col-md-3">
                    <div class="card bg-light text-center p-3 h-100 border-0 d-flex align-items-center justify-content-center" style="border-radius: 0;">
                        <h5 class="card-title mb-2">Téléphone</h5>
                        <p class="card-text">03 26 78 78 78</p>
                    </div>
                </div>
                <!-- Horaires -->
                <div class="col-12 col-md-3">
                    <div class="card bg-light text-center p-3 h-100 border-0 d-flex align-items-center justify-content-center" style="border-radius: 0;">
                        <h5 class="card-title mb-2">Horaires</h5>
                        <p class="card-text">Ouvert tous les jours<br>de 8h00 à 20h00</p>
                    </div>
                </div>
                <!-- Comment venir -->
                <div class="col-12 col-md-3">
                    <div class="card bg-light text-center p-3 h-100 border-0 d-flex align-items-center justify-content-center" style="border-radius: 0;">
                        <h5 class="card-title mb-2">Venir à l'hôpital</h5>
                        <p class="card-text">
                            <b>Voiture :</b> Autoroute A4<br>
                            <b>BUS :</b> Ligne 8, Arrêt "Sébastopol"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}