{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du plateau technique de l’hôpital Sébastopol{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid bg-primary">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo_chu.png') }}" alt="CHU Sébastopol" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-primary" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Le CHU <span class="material-symbols-outlined">medical_services</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Informations pratiques <span class="material-symbols-outlined">info</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nous rejoindre <span class="material-symbols-outlined">emoji_people</span></a>
                    </li>
                </ul>
                <span class="navbar-button d-flex justify-content-center">
                    <button class="btn btn-outline-primary btn-lg d-flex justify-content-center align-items-center" type="button" id="connexion-button">Connexion <span class="material-symbols-outlined">person</span></button>
                </span>
            </div>
        </div>
    </nav>
    <div class="container-fluid my-5 ">
        <div class="content w-100 row g-5">
            <div class="col-12 col-md-7">
                <img src="{{ asset('img/image-index.png') }}" alt="CHU Sébastopol" class="img-fluid rounded">
            </div>
            <div class="col-12 col-md-3">
                <div class="text-item">
                    <h1>Adresse :</h1>
                    <a href="https://www.google.com/maps/place/CHU+de+Reims+-+H%C3%B4pital+S%C3%A9bastopol/@49.2645089,4.0464497,17z/data=!3m1!4b1!4m6!3m5!1s0x47e975b86b85aab3:0xdda0886abe3e44fc!8m2!3d49.2645054!4d4.0490246!16s%2Fg%2F1vfn5_0k?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D" class="d-flex flex-row gap-2 align-items-start">
                        <p>48 Rue de Sébastopol,51092 Reims</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </a>
                </div>
                <div class="text-item">
                    <h1>Téléphone :</h1>
                    <p>03 26 78 78 78</p>
                </div>
                <div class="text-item">
                    <h1>Horaires :</h1>
                    <p>
                        Ouvert tous les jours, de 8h00 à 20h00
                    </p>
                </div>
                <div class="text-item">
                    <h1>Venir à l'hôpital :</h1>
                    <p><b>Voiture:</b>En venant de Paris : Autoroute A4, portion A344 - Sortie  "Reims - Reims Centre" - Boulevard Louis Roederer"</p>
                    <p><b>BUS:</b>Ligne 8 - Direction Champ Paveau - Arrêt "Sébastopol" et Ligne 11 - Direction Gare Centre- Arrêt "Sébastopol"</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
