{% extends 'base.html.twig' %}

{% block title %}Le CHU{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1>Le CHU</h1>
        <p>Bienvenue sur la page dédiée au CHU. Découvrez nos services, notre histoire et nos engagements.</p>
    </main>
{% endblock %}