@font-face {
    font-family: police_principale;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

body {
    font-family: police_principale, serif;
}

.navbar {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
}

.navbar-brand{
    margin: 0 3% 0 3%;
}

.container-fluid {
    background-color: #009EE1;
}

.navbar-nav {
    gap: 100px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
}

#connexion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-color: white;
    color: white;
    padding: 0.5rem 1rem;
}

#connexion-button:hover {
    background-color: white;
    color: #009EE1;
}