{% extends 'base.html.twig' %}

{% block title %}Nous rejoindre{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1>Nous rejoindre</h1>
        <p>Découvrez les opportunités pour rejoindre notre équipe. Consultez nos offres d'emploi et nos processus de recrutement.</p>
    </main>
{% endblock %}