{% extends 'base.html.twig' %}

{% block title %}Nous rejoindre{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1 class="text-primary">Rejoindre le CHU Sébastopol de Reims</h1>
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">Offres d'emploi actuelles</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><i class="bi bi-person-check me-2"></i>Médecin urgentiste</li>
                    <li><i class="bi bi-person-check me-2"></i>Infirmier(e) en chirurgie</li>
                    <li><i class="bi bi-person-check me-2"></i>Psychologue clinicien(ne)</li>
                    <li><i class="bi bi-person-check me-2"></i>Cadre de santé en gériatrie</li>
                </ul>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">Processus de recrutement</div>
            <div class="card-body">
                <p>Les candidats peuvent postuler directement sur notre site ou en envoyant leur CV et lettre de motivation à l'adresse <strong>recrutement@chu-sebastopol-reims.fr</strong>.</p>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">Rejoindre un environnement innovant</div>
            <div class="card-body">
                <p>En travaillant au CHU Sébastopol, vous intégrerez un environnement de travail stimulant, avec des possibilités de formation continue et d'évolution professionnelle. Vous participerez également à des projets de recherche innovants.</p>
            </div>
        </div>
    </main>
{% endblock %}
